// Your custom styles

// @import '../../../node_modules/bootstrap/scss/Bootstrap';
@import "~bootstrap/scss/bootstrap";
@import '../../../node_modules/@fluentui/react/dist/sass/References';

// Custom SCSS

// Globals
.a {
    color: #a5a6a6;
}

// App 

.App {
    text-align: center;
    background-color: #959595;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
.main{
    background-color: #828282;
    font-family: 'ms-fontWeight-regular';
}

.floatingButtonsGroup {
    padding: 8px;
}
.iconSocialFloat {
    height: 20;
    width: 20;
}

.page-footer {
    margin-left: 0px;
  }
  
  @media (max-width: 1199.98px) {
    .sidebar-fixed {
      display: none;
    }
    .flexible-content {
      padding-left: 0;
    }
    .flexible-navbar {
      padding-left: 10px;
    }
  
    #content{
      margin-left: 0px;
    }
  
    .page-footer{
      margin-left: 0px;
    }
    
    .card.cascading-admin-card {
      margin-top: 2.5rem;
    } 
  }
  
  @media (max-width: 576px) { 
    .card.cascading-admin-card {
      margin-top: 2.5rem;
    }
  
    #breadcrumb{
      flex-direction: column;
    }
  }
.socialIcon {
    height: 35;
    width: 35;
}
// Landing page styles


.landingHeader{
    background-image: url("../../Components/Landing/code-cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#landingContainer .view {
    min-height: 100vh !important;
    height: unset !important;
}

.card-container p {
  margin: 0;
}
.card-container > .ant-tabs-card .ant-tabs-content {
  height: 120px;
  margin-top: -16px;
}
.card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}
.card-container > .ant-tabs-card > .ant-tabs-nav::before {
  display: none;
}
.card-container > .ant-tabs-card .ant-tabs-tab,
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}
.card-container > .ant-tabs-card .ant-tabs-tab-active,
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}
#components-tabs-demo-card-top .code-box-demo {
  background: #f5f5f5;
  overflow: hidden;
  padding: 24px;
}
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-content {
  height: 120px;
  margin-top: -8px;
}
[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}
[data-theme='dark'] #components-tabs-demo-card-top .code-box-demo {
  background: #000;
}
[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  background: #141414;
}
[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-tab-active {
  border-color: #141414;
  background: #141414;
}
// About us page styles

// Residents Page Styls
.residentsDiv {
    background-color: inherit;
}
.residentsDivider {
    padding-top: 25px;
    padding-bottom:25px;
}

// Contact Us Page styles
.contactSection {
    padding-top: 56px;
    background-color: #828282;
}

// Sign In Page Styles
.signInDiv {
    padding-left: 20vw;
    padding-right: 20vw;
}
.signInCol {
    background: none;
}
.paper {
    background-color: rgba(245, 244, 244, 0.5);
}

.input {

}

// Sign Up Page Styles
.signupSection{
    background-image: url("../img/signUpImg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh !important;
    height: 100vh !important;
}
.paperOne {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.avatar{
    margin: 8px;
    background-color: rgba(0, 0, 0, 0.1);
}


// Account Home Styles
.emailVerificationDiv{
    margin-top: 64px;
}

#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

/* tile uploaded pictures */
.avatar-item {
  margin-right: 0px;
}

[class*='-col-rtl'] .avatar-item {
  margin-right: 0;
  margin-left: 24px;
}

.gbutton {
//  background-image: url("../img/btn_google_signin_dark_normal_web@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: fit-content;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}